In [2]:
import pandas as pd

In [7]:
data_dir_path = '../data/'

In [8]:
# get the NYC zcta5
zcta5_file_name = 'zip_to_zcta10_nyc_revised.xls'
zcta5_df = pd.read_excel(data_dir_path + zcta5_file_name)
zcta5_df

,zipcode,ziptype,postalcity,zcta5,bcode,note
0,10001,ZIP Code area,New York,10001,36061,NaN
1,10118,Post Office or large volume customer,New York,10001,36061,NaN
2,10120,Post Office or large volume customer,New York,10001,36061,NaN
3,10122,Post Office or large volume customer,New York,10001,36061,NaN
4,10123,Post Office or large volume customer,New York,10001,36061,NaN
...,...,...,...,...,...,...
312,11692,ZIP Code area,Arverne,11692,36081,NaN
313,11693,ZIP Code area,Far Rockaway,11693,36081,NaN
314,11695,Post Office or large volume customer,Far Rockaway,11693,36081,NaN
315,11694,ZIP Code area,Rockaway Park,11694,36081,NaN
316,11697,ZIP Code area,Breezy Point,11697,36081,NaN

In [ ]:
# Ratio of women to men (all ages)
B05003_dir_path = 'ACSDT5Y2018.B05003_2020-04-15T173748/'
B05003_file_name = 'ACSDT5Y2018.B05003_data_with_overlays_2020-04-15T173740.csv'